.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    max-width: 90%;
    box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
        0px 3px 4px 0px rgb(0 0 0 / 14%),
        0px 1px 8px 0px rgb(0 0 0 / 12%);
}

.form {
    display: flex;
    flex-direction: column;
}

.formGroup {
    margin-bottom: 15px;
}

.formGroup label {
    display: block;
    margin-bottom: 5px;
}

.formGroup input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.modalActions {
    display: flex;
    justify-content: space-between;
}

.saveBtn,
.closeBtn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.saveBtn {
    background-color: #3bb19b;
    color: white;
}

.closeBtn {
    background-color: #f44336;
    color: white;
}

/* Style for the Edit User header */
.editUserHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}

/* Style for the profile icon */
.profileIcon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 10px;
}

/* Style for the input container */
.input_container {
    position: relative;
    width: 100%;
    margin-bottom: 15px;
}

/* Style for the input field */
.input_field {
    width: calc(100% - 40px);
    /* Adjust based on the icon width */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style for the icon */
.icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: gray;
}